<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Hotel Website | Home</title>
		<link rel="stylesheet" href="static/css/style.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
<style>



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
table{width:1200px;}

</style>
	</head>

<body>

	<div  class="myDiv"><img class="img1" src="static/images/logo2.jpg" title="logo">
		<div class="contact-info">
		  <p>Call us : <a href="tel:123-456-7890">123-456-7890</a></p>
		  <p>Gpa : <a href="https://www.google.com/maps/d/viewer?ie=UTF8&oe=UTF8&msa=0&mid=1DqTgP7EKSPGcsho2DPDQkNinI9A">View map</a></p>
		</div>
	</div>
					
	<div class="topnav">
		 <a href="http://127.0.0.1:5000/">Home</a>
		 <a href="http://127.0.0.1:5000/Gallery">Gallery</a>
 		 <a href="http://127.0.0.1:5000/booking">Booking</a>
 		 <a class="active "href="http://127.0.0.1:5000/contact">Contact</a>
		 <a href="http://127.0.0.1:5000/services">Services</a>

	    
	</div>
	<div>
	<img src="static/images/hotel.webp" title="logo" height="345" width="1340">
	</div>



<div>
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>For Futher Queries contact us:</p>
  </div>
  <div>
    
    <div>
      <form method="POST" action="http://127.0.0.1:5000/setContactDetials">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
		  <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" placeholder="you email id ">
      
        
        <label for="msg">Message</label>
        <textarea id="msg" name="Message" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>
  <footer>
	<div><table>
	<tr>
	<td>
	<div class="leftFooter"> <h2>Useful Links</h2>
	     <a href="http://127.0.0.1:5000/" style="color:white">Home</a><br><br>

 	      <a href="http://127.0.0.1:5000/Gallery" style="color:white">Gallery</a><br><br>
 	      <a href="http://127.0.0.1:5000/booking" style="color:white">Booking</a><br><br>
 	      <a href="http://127.0.0.1:5000/contact" style="color:white">Contact</a><br><br>
	      <a href="http://127.0.0.1:5000/services" style="color:white">Services</a>
	</div>
	</td>
	<td>
	<div class="centerFooter"> <h2>Find us</h2>
		<address>
		Healing Center, 176 W Street name,<br>
		New York, NY 10014, US<br>
		(+71) 987 654 3210<br>
		(+71) 987 654 3210<br>
		
		<a style="color:white" href="mailto:whiteSeasonhotel@gmail.com">whiteSeasonhotel@gmail.com</a>
		</address>
	</div>
	</td>
	<td>
	<div class="rightFooter"> <h2>News letter</h2>
		<input type="email" name="email" Placeholder="first.last name">
		<input type="button" name="submit" value="submit"><br><br><br>
		<a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504238004%7Ce%7Cfacebook%20login%7C&placement=&creative=318504238004&keyword=facebook%20login&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066388443%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1409285535%26loc_physical_ms%3D1007803%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwsLWDBhCmARIsAPSL3_3cuKB9lApt3pNCH8tEs5TXB0Iy-8_uDUU9iJkC5qjlNNe597V848saAo2CEALw_wcB">
                           <input type="image" name="fb" src="static/images/fb.png" alt="fb" height="35" width="40"> </a>
                <a href="https://www.google.com/search?q=twitter+login&rlz=1C1CHZN_enIN941IN941&oq=twi&aqs=chrome.2.69i57j35i39j0i67i131i433j0i67j0i67i131i433j46i67j0i67i433j46i433l2.5839j0j15&sourceid=chrome&ie=UTF-8">
				<input type="image" name="tt" src="static/images/tt.png" alt="tritter" height="40" width="40"></a>
                <a href="https://www.instagram.com/accounts/login/"><input type="image" name="instagram" src="static/images/instagram.jpg" alt="instagram" height="35" width="40"></a>
         </div>
	</td>    
	</tr>
	</table></div>
 </footer>
</body>
</html>