<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Hotel Website | Home</title>
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="static/css/servicesCSS.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
                <style>
			table{width:1200px;}
                       
		</style>
	</head>
<body>
<div>
	<div  class="myDiv"><img class="img1" src="static/images/logo2.jpg" title="logo">
		<div class="contact-info">
		  <p class="phone">Call us : <a href="tel:123-456-7890">123-456-7890</a></p>
		  <p class="gpa">Gpa : <a href="https://www.google.com/maps/d/viewer?ie=UTF8&oe=UTF8&msa=0&mid=1DqTgP7EKSPGcsho2DPDQkNinI9A">View map</a></p>
		</div>
	</div>
					
	<div class="topnav">
		 <a href="http://127.0.0.1:5000/">Home</a>
		 <a href="http://127.0.0.1:5000/Gallery">Gallery</a>
 		 <a href="http://127.0.0.1:5000/booking">Booking</a>
 		 <a href="http://127.0.0.1:5000/contact">Contact</a>
		 <a class="active" href="http://127.0.0.1:5000/services">Services</a>

	    
	</div>
	<div>
	<img src="static/images/hotel.webp" title="logo" height="350" width="1340" >
	</div>
<br><br><br><br><br><br>
<main>
 <div>
	<h1>Services</h1></div>
	<div class="div1">
	<table>
   
 	  <tr>
   
  	   <td>
     		<ul>
			<li>Bar</li>
			<li>24h Front Desk</li>
			<li>Roof Garden</li>
			<li>Non-smoking Rooms</li>
			<li>ELEVATOR</li>
			<li>Express Check-in, check out</li>
			<li>Safe</li>
			<li>Soundproof windows</li>
			<li>Baggage Storage</li>
			<li>Air Conditioning</li>
			<li>Meeting and Banquet facilities</li>
			<li>Laundry</li>
			<li>Dry Cleaning</li>
			<li>Breakfast in the Room, upon request</li>
			<li>Lunch in the Room, upon request</li>
			<li>Dinner in the Room, upon request</li>
			<li>Fax/Photocopying</li>
			<li>Bikes Avialable (free)</li>
			<li>Concierge</li>
			<li>Museums reservations</li>
			<li>Airport Shuttle (charge)</li>
			<li>INTERNET : Free! Wi-Fi is available in all areas and is free of charge</li>
			<li>Free public parking is available in the area</li>
			<li>Garage parking € 25 vallet service</li>
			<li>Private Garage of the Hotel € 25</li>
			<li>Carte di credito:AMEX, Visa, Euro/Mastercard, Maestro, CartaSi, JDB</li>
			
		</ul>
		<h2>Breakfast 07:30  - 10:45</h2>

		The breakfast buffet is displayed in the mirrors room and offers eggs, salami, ham, cheeses, fresh fruit, fruit cocktail, fruit juices etc.
   		<br><br> <img class="img2" src="static/images/breakfast.jpg" title="logo"  >
		<h2>Lunch 01:00  - 03:45</h2>
		<h2>Dinner 08:30  - 10:45</h2>
 	</td>
	<td>
	<div class="centerShadow">
	<h1>Describtion</h1>
	<p>Description
		white Season hotel is located in the heart of the historic center of Florence in an extremely characteristic, quite and lively area within short walk distance to all sites and is surrounded by the extraordinary beauty of churches, buildings, shops and monuments. Cellai Hotel is part of a lovingly restored 1800 palace. 
		On entering this charming hotel in Florence, you will immediately sense its special intimate atmosphere that makes you feel like being in your own florentine home.</p>
		<hr>
<dl>
 <dt>WIFI:</dt>
	<dd>WIFI internet in all rooms and public areas. Wifi internet is also avialable in our flowered Roof Garden. </dd>
<dt>BUSINESS CORNER:</dt>						
	<dd>Our staff will help you to scan, print and fax your documents. </dd>
<dt>SAFE DEPOSIT BOX:</dt>						
	<dd>At front desk a safe deposit box is avialable 24h. </dd>

<dt>CREDIT CARDS:</dt>						
	<dd>All credit cards are welcome. </dd>

<dt>LAUNDRY SERVICE:</dt>						
	<dd>Avialable in  12/24 h time. </dd>
<dt>CONCIERGE SERVICE:</dt>						
	<dd>Our desk is at your disposal for Museums, private guides and sightseeing reservations.
A private driver is also avialable for Airport or Train Station pick up service (fee). </dd>

<dt>BABY SITTING:</dt>						
	<dd>Baby sitting is avialable on request (fee). </dd>

<dt>CELLAI BOUTIQUE VINTAGE SELECTION:</dt>						
	<dd>In the lounges and in the rooms of white Season Hotel you will find vintage, antiques, handcrafted artworks  and decoration items that can be purchased.
	 </dd>
</dl>
</div></td>
 </tr>



</table>
</div>

</main>



<footer>
	<div><table>
	<tr>
	<td>
	<div class="leftFooter"> <h2>Useful Links</h2>
	      <a href="http://127.0.0.1:5000/" style="color:white">Home</a><br><br>

 	      <a href="http://127.0.0.1:5000/Gallery" style="color:white">Gallery</a><br><br>
 	      <a href="http://127.0.0.1:5000/booking" style="color:white">Booking</a><br><br>
 	      <a href="http://127.0.0.1:5000/contact" style="color:white">Contact</a><br><br>
	      <a href="http://127.0.0.1:5000/services" style="color:white">Services</a>
	</div>
	</td>
	<td>
	<div class="centerFooter"> <h2>Find us</h2>
		<address>
		Healing Center, 176 W Street name,<br>
		New York, NY 10014, US<br>
		(+71) 987 654 3210<br>
		(+71) 987 654 3210<br>
		<a style="color:white" href="mailto:whiteSeasonhotel@gmail.com">whiteSeasonhotel@gmail.com</a>
		</address>
	</div>
	</td>
	<td>
	<div class="rightFooter"> <h2>News letter</h2>
		<input type="email" name="email" Placeholder="first.last name">
		<input type="button" name="submit" value="submit"><br><br><br>
		<a href="https://www.facebook.com/campaign/landing.php?campaign_id=1653993517&extra_1=s%7Cc%7C318504238004%7Ce%7Cfacebook%20login%7C&placement=&creative=318504238004&keyword=facebook%20login&partner_id=googlesem&extra_2=campaignid%3D1653993517%26adgroupid%3D63066388443%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1409285535%26loc_physical_ms%3D1007803%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwsLWDBhCmARIsAPSL3_3cuKB9lApt3pNCH8tEs5TXB0Iy-8_uDUU9iJkC5qjlNNe597V848saAo2CEALw_wcB">
                            <input type="image" name="fb" src="static/images/fb.png" alt="fb" height="35" width="40"></a>
                <a href="https://www.google.com/search?q=twitter+login&rlz=1C1CHZN_enIN941IN941&oq=twi&aqs=chrome.2.69i57j35i39j0i67i131i433j0i67j0i67i131i433j46i67j0i67i433j46i433l2.5839j0j15&sourceid=chrome&ie=UTF-8">
				<input type="image" name="tt" src="static/images/tt.png" alt="tritter" height="40" width="40"></a>
                <a href="https://www.instagram.com/accounts/login/">
<input type="image" name="instagram" src="static/images/instagram.jpg" alt="instagram" height="35" width="40"></a>
         </div>
	</td>    
	</tr>
	</table></div>
 </footer>
</div>
</body>
</html>
